# web
flask
flask_json_schema
# with simplejson flask can serialize decimals
simplejson
flask-cors

# wallets
hwi
ckcc-protocol
trezor

# pyinstaller
cefpython3
libusb1
pywebview[qt]
pywebview[cef]
pyinstaller.zip

# bitcoin
btclib
python-bitcoinrpc
