# web
flask
flask_json_schema
simplejson  # so flask can serialize decimals
flask-cors

# wallets
hwi
ckcc-protocol
trezor

# pyinstaller
cefpython3
libusb1
pywebview[qt]
pywebview[cef]
pyqtwebengine
# zip of pyinstaller develop branch
# we need this unreleased pr: https://github.com/pyinstaller/pyinstaller/pull/4312
contrib/pyinstaller.zip

# bitcoin
btclib
python-bitcoinrpc
