{% extends "layout.html" %}

{% block title %}Create Wallet{% endblock %}

{% block content %}
  <div class="container my-5">
    <h1 class="text-center mb-4">Unlock Devices</h1>

    {% if devices | length %}
    <div style="margin: 0 auto; max-width: 400px;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Device</th>
            <th scope="col" class="text-right">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for device in devices %}
          <tr>
            <td>{{ device['type'] }}</td>
            <td class="text-right">
              {% if 'error' in device %}
              Locked
              {% else %}
              Unlocked
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <p>No devices plugged in</p>
    {% endif %}

    <h3 class="text-center mb-3">Trezor</h3>
    <ul>
      <li>To unlock a Trezor you must plug it in, reload page, and enter PIN</li>
    </ul>
    {% for device in devices %}
      {% if 'error' in device %}
        {% if device['type'] == 'trezor' %}
        <form action="/set-pin" method="post">
          <div class="form-row">
            <div class="col">
              <input name="7" type="number" class="form-control">
            </div>
            <div class="col">
              <input name="8" type="number" class="form-control">
            </div>
            <div class="col">
              <input name="9" type="number" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <input name="4" type="number" class="form-control">
            </div>
            <div class="col">
              <input name="5" type="number" class="form-control">
            </div>
            <div class="col">
              <input name="6" type="number" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <input name="1" type="number" class="form-control">
            </div>
            <div class="col">
              <input name="2" type="number" class="form-control">
            </div>
            <div class="col">
              <input name="3" type="number" class="form-control">
            </div>
          </div>
          <div class="d-flex my-3">
            <button type="submit" class="btn btn-primary mx-auto">Unlock Trezor</button>
          </div>
        </form>
        {% endif %}
      {% endif %}
    {% endfor %}
   
    <h3 class="text-center mb-3">ColdCard</h3>
    <ul>
      <li>Plug in, enter the PIN, and reload page.</li>
      <li>Set coldcard to "testnet" mode in "Settings &gt; Blockchain &gt; Testnet: BTC"</li>
    </ul>

    <h3 class="text-center mb-3">Ledger</h3>
    <ul>
      <li>Enter PIN, navigate to the testnet app on your Ledger, and reload page.</li>
      <li>If it's unlocked, in testnet app and doesn't show up -- unplug and try again.</li>
      <li>If you don't have the testnet app installed:</li>
      <ul>
        <li>Open "Ledger Live" desktop app (you can install "Ledger Live" <a href="https://support.ledger.com/hc/en-us/articles/360006395553-Download-and-install-Ledger-Live">here).</a></li>
        <li>Click the settings gear icon in top right.</li>
        <li>Click "Experimental features" tab at top.</li>
        <li>Enable "Developer mode".</li>
        <li>Click the "Manager" tab on left.</li>
        <li>Enter ledger pin and accept the "Allow Ledger manager?" prompt on device screen.</li>
        <li>Search for and install the "Bitcoin Test" app.</li>
      </ul>
    </ul>
  </div>
{% endblock %}
