<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap's CSS saved locally  -->
    <link href="{{ url_for('.static', filename='bootstrap.css') }}" rel="stylesheet">
    <!-- Our custom CSS -->
    <link href="{{ url_for('.static', filename='styles.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="text-center my-4">
      <a href="/">Wallet</a><span>  |  </span>
      <a href="/devices">Devices</a><span>  |  </span>
      <a href="/settings">Settings</a><span>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div>
      {% block content %}{% endblock %}
    </div>
  </body>

  {% block script %}{% endblock %}

  <script>

    var lastDevices = null;

    function refreshDevices() {
      var xhr = new XMLHttpRequest();
      xhr.onload = function () {
        if (xhr.status == 200) {
          var devices = JSON.parse(this.responseText);
          console.log(devices);
          if (lastDevices && devices !== lastDevices) {
            console.log('reload');
            location.reload();
          } else {
            lastDevices = devices;
          }
        } else {
          console.log('/devices request failed');
        }
        setTimeout(refreshDevices, 1000);
      };
      xhr.open('GET', 'http://localhost:37128/api/enumerate');
      xhr.send();
    }

    // refreshDevices();

  </script>
</html>
