{% extends "layout.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
  <div class="container my-5">
    <h2 class="text-center mb-4">RPC Settings</h2>
    <h6 class="text-center mb-4">Configure Testnet RPC Parameters. Mainnet coming soon ™️.</h6>
    <form action="/settings" method="post">
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">RPC Username</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="username" value="{{ settings['rpc']['username'] }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">RPC Password</label>
        <div class="col-sm-10">
          <input class="form-control" type="password" name='password' value="{{ settings['rpc']['password'] }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="host" class="col-sm-2 col-form-label">RPC Host</label>
        <div class="col-sm-10">
          <input class="form-control" type="string" name='host' value="{{ settings['rpc']['host'] }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="port" class="col-sm-2 col-form-label">RPC Port</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" name='port' value="{{ settings['rpc']['port'] }}">
        </div>
      </div>
      <div class="d-flex">
        <button type="submit" class="btn btn-primary ml-auto">Update Settings</button>
      </div>
    </form>
  </div>
{% endblock %}
