{% extends "layout.html" %}

{% block title %}"{{ wallet.name }}" Wallet{% endblock %}

{% block content %}
  <div class="container my-5">
    <h1 class="text-center mb-4">"{{ wallet.name }}" Wallet ({{ wallet.m }}/{{ wallet.n }})</h2>
    <!-- Signers -->
    {% if wallet.signers | length > 0 %}
      <h3 class="text-center">Signers</h3>
      <ul>
        {% for signer in wallet.signers %}
        <li>{{ signer['name'] }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if not wallet.ready() %}
      <!-- Add Signers -->
      <h3 class="text-center">Add {{ wallet.n - wallet.signers | length }} More Signers</h3>
        {% for device in devices %}
        <form action="/add-signer/{{ device['fingerprint'] }}" method="post">
          <div>Type: {{ device['type'] }} <button type="submit" class="btn btn-primary">Add Signer</button></div>
        </form>
        {% endfor %}
      <h3 class="text-center">Device Notes</h3>
      <ul>
        <li>ColdCard</li>
        <li>
          <ul>
            <li>Plug your ColdCard in and enter the pin. Then it should show up as an option in the "add signers" section above.</li>
          </ul>
        </li>
      </ul>
    {% else %}
      <!-- PSBT -->
      <h3 class="text-center">PSBT</h3>
      {% if not wallet.psbt %}
          <div> create psbt</div>
      {% else %}
      <div class="card">
        <div class="card-body">
          <table class="table table-borderless">
            <h4>Outputs</h4>
            <tbody>
              <!-- FIXME: fee (can i estimate sat/vbyte?) -->
              <!-- FIXME: display what is and isn't change -->
              {% for vout in psbt["tx"]["vout"] %}
              <tr>
                <td>#{{ loop.index0 }}</td>
                <td>{{ vout["scriptPubKey"]["addresses"][0] }}</td>
                <td>{{ vout["value"] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <table class="table table-borderless">
            <h4>Signers</h4>
            <tbody>
              <!-- FIXME: determine whether each has signed -->
              <tr>
                <td>{{ wallet.signers[0].name }}</td>
                <td><input type="email" class="form-control" placeholder="pin"></td>

                <td><button type="button" class="btn btn-primary">Sign</button>
              <tr>
              </tr>
                <td>{{ wallet.signers[1].name }}</td>
                <td>Signed</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex">
            <button type="button" class="btn btn-primary ml-auto">Broadcast</button>
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}
    <pre>{{ psbt_str }}</pre>
  </div>
{% endblock %}
