{% extends "layout.html" %}

{% block title %}"{{ wallet.name }}" Wallet{% endblock %}

{% block content %}
  <div class="container my-5">
    <h1 class="text-center mb-4">"{{ wallet.name }}" Wallet ({{ wallet.m }}/{{ wallet.n }})</h2>
    {% if wallet.ready() %}
    <div class="text-center mb-3">
      <a href="/address">
        <button class="btn btn-primary">Generate Receving Address</button>
      </a>
    </div>
    {% endif %}
    <!-- Signers -->
    {% if wallet.signers | length > 0 %}
      <h3 class="text-center">Signers</h3>
      <ul>
        {% for signer in wallet.signers %}
        <li>{{ signer['name'] }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if not wallet.ready() %}
      <!-- Add Signers -->
      <h3 class="text-center">Add {{ wallet.n - wallet.signers | length }} More Signers</h3>
        {% for device in devices %}
        <form action="/add-signer/{{ device['fingerprint'] }}" method="post">
          <div>Type: {{ device['type'] }} <button type="submit" class="btn btn-primary">Add Signer</button></div>
        </form>
        {% endfor %}
      <h3 class="text-center">Device Notes</h3>
      <ul>
        <li>ColdCard</li>
        <li>
          <ul>
            <li>Plug your ColdCard in and enter the pin. Then it should show up as an option in the "add signers" section above.</li>
          </ul>
        </li>
      </ul>
    {% else %}
      <!-- PSBT -->
      {% if not wallet.psbt %}
        <h3 class="text-center">Create PSBT</h3>
        <form action="/create-psbt" method="post">
          <div class="form-row">
            <div class="col">
              <input name="recipient" type="text" class="form-control" placeholder="Recipient Address">
            </div>
            <div class="col">
              <input name="amount" type="number" class="form-control" placeholder="Satoshis to Send">
            </div>
            <button type="submit" class="btn btn-primary">Create PSBT</button>
          </div>
        </form>
      {% else %}
      <h3 class="text-center">Sign PSBT</h3>
      <div class="card">
        <div class="card-body">
          <table class="table table-borderless">
            <h4>Outputs</h4>
            <tbody>
              <!-- FIXME: fee (can i estimate sat/vbyte?) -->
              <!-- FIXME: display what is and isn't change -->
              {% for vout in psbt["tx"]["vout"] %}
              <tr>
                <td>#{{ loop.index0 }}</td>
                <td>{{ vout["scriptPubKey"]["addresses"][0] }}</td>
                <td>{{ vout["value"] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <table class="table table-borderless">
            <h4>Signers</h4>
            <tbody>
              <!-- FIXME: determine whether each has signed -->
              {% for signer in wallet.signers %}
                {% if signer['device_state'] == 'unlocked' %}
                <form action="/sign-psbt/{{ signer['fingerprint'] }}" method="post">
                  <tr>
                    <td>{{ signer.name }}</td>
                    <td><button type="submit" class="btn btn-primary">Sign</button>
                  <tr>
                </form>
                {% else %}
                <tr>
                  <td>{{ signer.name }}</td>
                  <td><a href="/unlock">
                    <button type="submit" class="btn btn-primary">Unlock</button>
                  </a></td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <form action="/broadcast" method="post">
            <div class="d-flex">
              <button type="submit" class="btn btn-primary ml-auto">Broadcast</button>
            </div>
          </form>
        </div>
      </div>
      {% endif %}
    {% endif %}
    <pre>{{ psbt_str }}</pre>
  </div>
{% endblock %}
